</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/courses">Courses</a></li>
            <% if (!user) { %>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/signup">Sign Up</a></li>
            <% } %>
            <% if (user && user.role === 'admin') { %>
            <li><a href="/admin/dashboard">Administration</a></li>
            <% } %>
            <% if (user) { %>
                <li><a href="/user/profile">Profile</a></li>
                <li>
                    <a href="/logout" class="btn-signout">Sign Out</a>
                </li>
            <% } %>
        </ul>
    </nav>
</header>